*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: #ff1b68;
    /*
    padding: 20px;
    border: 5px black solid;
    margin: 20px;
    */
    width: 100%;
    height: 528px;
    padding: 10px;
    
}

#product-overview h1 {
    color: white;
    font-family: 'Anton','sans-serif';
}

.section-title{
    color: #2ddf5c;
}

.main-header {
    background-color: #2ddf5c;;
    padding: 8px 16px;
    width: 100%;
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand{
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item{
    display: inline-block;
}