body {
    font-family: "Montserrat", sans-serif;
  }
  
  .destination {
    box-sizing: border-box;
    width: 320px;
    height: 420px;
    margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 400ms ease-out;
  }
  
  .destination:hover,
  .destination:active {
    background-color: #fa923f;
    color: white;
  }
  
  .thumbnail {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .thumbnail img {
    width: 100%;
  }
  
  .content {
    text-align: center;
  }
  
  .content h1 {
    margin: 10px 0;
  }
  